.phaser-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row-reverse;
  width: 100vw;
  height: 100vh;
}

.phaser-wrapper .game-header {
  background-color: #eee;
  padding: 15px;
  border-radius: 6px;
  margin-left: 20px;
}

.phaser-wrapper .game-header h1 {
  font-size: 20px;
  text-align: center;
}

.phaser-wrapper .game-header .controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
}

.phaser-wrapper .game-header .single-control {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.phaser-wrapper .game-header .single-control img {
  width: 90px;
}

.phaser-wrapper .game-header .single-control span {
}
